body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
    text-align: center;
}
h2 {
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
p {
    color: indigo;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
li {
    color: midnightblue;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

}
a {
    color: darkred;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;  
}